PORT=8080
CORS_ORIGINS=https://sntviajes.web.app
FRONTEND_BASE_URL=https://sntviajes.web.app
MP_ACCESS_TOKEN=APP_USR-REPLACE_ME
MP_WEBHOOK_SECRET=REPLACE_WITH_MERCADOPAGO_WEBHOOK_SECRET
MP_STATEMENT_DESCRIPTOR=VENTAPASS
MP_SOURCE_TAG=PASSSNT
FIREBASE_PROJECT_ID=somos-noche-transporte
FIREBASE_DATABASE_URL=https://somos-noche-transporte-default-rtdb.firebaseio.com
# JSON del service account en una sola linea. Debe tener acceso a RTDB:
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account"}
